page-clients {

    ion-header > ion-toolbar {
        border-top: 1px solid #80b31a;
    }

    ion-header > ion-toolbar > .toolbar-background {
        background-color: #558000 !important;
    }

    .searchbar-input {
        background-color: white !important;
    }

}
